<%= simple_form_for(@question) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :question_text %>
    <%= f.input :correct_answer %>
    <%= f.input :incorrect_answer_1 %>
    <%= f.input :incorrect_answer_2 %>
    <%= f.input :incorrect_answer_3 %>
    <div class="form-group">
      <b>Category</b>
      <%= f.select(:category, options_for_select([['Role Playing','role-playing'],['Adventure','adventure'],['Racing','racing'], ['Arcade', 'arcade'], ['Action', 'action'], ['First person shooter', 'fps']]), {}, {class: "form-control"}) %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
