<script>
    var currentTime = 3000;
    var incrementTime = 10;
    var timerIntervalId = 0;

    function updateTimer() {
        $('#countdown').html(formatTime(currentTime));
        if (currentTime == 0) {
            answeredIncorrectly();
            return;
        }
        currentTime -= incrementTime / 10;
        if (currentTime < 0) currentTime = 0;
    }
    function pad(number, length) {
        var str = '' + number;
        while (str.length < length) {str = '0' + str;}
        return str;
    }
    function formatTime(time) {
        var min = parseInt(time / 6000),
                sec = parseInt(time / 100) - (min * 60),
                hundredths = pad(time - (sec * 100) - (min * 6000), 2);
        return pad(sec, 2) + ":" + hundredths;
    }

  function disableAllButtons() {
      $("#correct").toggleClass("disabled");
      $("[id=incorrect]").toggleClass("disabled");
  }

  function revealBackButton() {
      $("#backButton").show();
  }
    function answeredIncorrectly() {
        $('#correct').toggleClass("btn-success");
        disableAllButtons();
        revealBackButton();
        clearInterval(timerIntervalId);
        var id = <%= @question.id %>;
        $.post('/result',{result:false, questionID:id});
    }
    function timerPowerUp() {
        currentTime += 3000;
    }
    $(document).ready(function() {
        $("[id=incorrect]").click(function() {
            $(this).toggleClass("btn-danger");
            answeredIncorrectly();
        });
    });
    $(document).ready(function() {
        $("#correct").click(function() {
            $(this).toggleClass("btn-success");
            disableAllButtons();
            revealBackButton();
            clearInterval(timerIntervalId);
            var id = <%= @question.id %>;
            $.post('/result',{result:true, questionID:id});
        });
    });
    $(document).ready(function() {
        $("#backButton").hide();
    });
    $(document).ready(function() {
        timerIntervalId = setInterval(updateTimer,10);
    });
</script>

<div class="container round-edges">
  <div class="row">
    <div class="text-center">
      <h2><%= @question.question_text %></h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-6">Submitter: <%= @question.submitter %></div>
  <div class="col-xs-6 text-right">Difficulty: <%= @question.difficulty / 10%>
    </br> Category: <%= @question.category %>
    </br>
    <% if !@game.steal_question_ids.eql? '' %>
        <%= @game.user_steal_correct.to_s %> / 6
    <% end %>
  </div>
</div>

<div class="text-center">
  <div class="center-block">
    <div class="btn-group-vertical btn-group-lg" style="margin: 9px 0; width: 80%">
      <% randNumber = 1 + rand(4); %>
      <% def displayCorrectAnswer %>
          <% if @question.is_authorized == false && (current_user.role == 'Admin' || current_user.role == 'Reviewer') %>
              <button type="button" class="btn btn-success" id="correct"><%= @question.correct_answer %></button>
          <% else %>
              <button type="button" class="btn btn-default" id="correct"><%= @question.correct_answer %></button>
          <% end %>
      <% end %>

      <% if randNumber == 1  %>
        <% displayCorrectAnswer %>
      <% end %>
      <button type="button" class="btn btn-default" id="incorrect"><%= @question.incorrect_answer_1 %></button>
      <% if randNumber == 2 %>
          <% displayCorrectAnswer %>
      <% end %>
      <button type="button" class="btn btn-default" id="incorrect"><%= @question.incorrect_answer_2 %></button>
      <% if randNumber == 3 %>
          <% displayCorrectAnswer %>
      <% end %>
      <button type="button" class="btn btn-default" id="incorrect"><%= @question.incorrect_answer_3 %></button>
      <% if randNumber == 4 %>
          <% displayCorrectAnswer %>
      <% end %>
    </div>
  </div>
</div>



<% if @question.is_authorized == false && (current_user.role == 'Admin' || current_user.role == 'Reviewer') %>
    <div class="text-center">
      <%= button_to 'Accept question', accept_review_path, :class => 'btn btn-primary btn-lg', params: { id: params[:id], is_accepted: true }, :method => :get, :style => 'width: 80%' %>
    </div>
    <div class="text-center">
      <%= button_to 'Decline question', accept_review_path, :class => 'btn btn-primary btn-lg', params: { id: params[:id], is_accepted: false }, :method => :get, :style => 'width: 80%' %>
    </div>
<% end %>


<div id="backButton" class="text-center">
  <%= button_to 'Continue', assess_answer_path, :class => 'btn btn-info btn-lg btn-block', :method => :get %>

</div>



<span id="countdown">00:30:00</span>
<div id="coins">Coins: <%= current_user.coins %></div>
<form id="powerUpForm">
  <input type='button' value='Time Power-up' onclick='timerPowerUp();' />
</form>