<script>
    var currentCoins = <%= current_user.coins %>;
    <% if !@game.nil? %>
        timerIntervalId = setInterval(updateTimer,10);
    <% end %>
</script>

<div class="container round-edges">
  <div class="row">
    <div class="text-center">
      <h2><%= @question.question_text %></h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-6">
    Submitter: <%= @question.submitter %>
    </br>
    <% submitter = User.find_by(email: @question.submitter) %>
    <% if !submitter.nil? %>
        <% if !submitter.location.blank? && !submitter.hide_location %>
            Location: <%= submitter.location %>
        <% end %>
    <% end %>
  </div>
  <div class="col-xs-6 text-right">Difficulty: <%= @question.difficulty / 10%>
    </br> Category: <%= @question.category %>
    </br>
    <% if !@game.nil? %>
        <% if !@game.steal_question_ids.eql? '' %>
            <%= @game.user_steal_correct.to_s %> / 6
        <% end %>
    <% end %>
  </div>
</div>

<div class="text-center">
  <div class="center-block">
    <div class="btn-group-vertical btn-group-lg" style="margin: 9px 0; width: 80%">

      <% @answer_choices.each do |answer_choice| %>
        <% if answer_choice.eql? @question.correct_answer %>
            <% if @question.is_authorized == false && (current_user.role == 'Admin' || current_user.role == 'Reviewer') %>
                <button type="button" class="btn btn-success correct">
                  <%= answer_choice %>
                </button>
            <% else %>
                <button type="button" class="btn btn-default correct">
                  <%= answer_choice %>
                </button>
            <% end %>
        <% else %>
              <button type="button" class="btn btn-default incorrect">
                <%= answer_choice %>
              </button>
        <% end %>
      <% end %>

    </div>
  </div>
</div>


    <% if @question.is_authorized == false && (current_user.role == 'Admin' || current_user.role == 'Reviewer') %>
        <div class="text-center">
          <%= button_to 'Accept question', accept_review_path, :class => 'btn btn-primary btn-lg', params: { id: params[:id], is_accepted: true }, :method => :get, :style => 'width: 80%' %>
        </div>
        <div class="text-center">
          <%= button_to 'Decline question', accept_review_path, :class => 'btn btn-primary btn-lg', params: { id: params[:id], is_accepted: false }, :method => :get, :style => 'width: 80%' %>
        </div>
    <% end %>


<% if !session[:current_game_id].blank? %>
    <div id="incorrectAnswerButton" class="text-center">
      <%= button_to 'Continue', assess_answer_path, params: { question_id: params[:id], answered_correctly: false }, :class => 'btn btn-info btn-lg btn-block', :method => :get %>
    </div>
    <div id="correctAnswerButton" class="text-center">
      <%= button_to 'Continue', assess_answer_path, params: { question_id: params[:id], answered_correctly: true }, :class => 'btn btn-info btn-lg btn-block', :method => :get %>
    </div>
<% end %>

<% if !@game.nil? %>
    <span id="countdown">
      00:30:00
    </span>
    <div id="coins">
      Coins: <%= current_user.coins %>
    </div>
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
      <div class="btn-group" role="group">
        <button id="timeButton" type="button" class="btn btn-default" onclick='timerPowerUp();'>
          <img id="slowpoke" class='slowpoke' src='<%= image_url('slowpoke.png') %>' height="50">
          Slow-motion 3 Gold
        </button>
      </div>
      <div class="btn-group" role="group">
        <button id="skipButton" type="button" class="btn btn-default" onclick='revealOnePowerUp();'>
          <img id="frog" class='frog' src='<%= image_url('bomb.png') %>' height="50">
          Kerboom!: 1 Gold
        </button>
      </div>
      <div class="btn-group" role="group">
        <button id="secondChanceButton" type="button" class="btn btn-default" onclick='secondChancePowerUp();'>
          <img id="fairy" class='fairy' src='<%= image_url('fairy.png') %>' width="50" height="50">
          Fairy in a Bottle: 5 Gold
        </button>
      </div>
    </div>
<% end %>