<script>
  function disableAllButtons() {
      $("#correct").toggleClass("disabled");
      $("[id=incorrect]").toggleClass("disabled");
  }
    $(document).ready(function() {
        $("[id=incorrect]").click(function() {
            $(this).toggleClass("btn-danger");
            disableAllButtons();
            document.getElementById('incorrect_answer').click();
        });
    });
    $(document).ready(function() {
        $("#correct").click(function() {
            $(this).toggleClass("btn-success");
            disableAllButtons();
            document.getElementById('correct_answer').click();
        });
    });
</script>

<div class="hidden_links" style="visibility: hidden">
  <%= link_to 'correct_answer',  show_game_path(session[:current_game]), :id => 'correct_answer', session: { answered_correctly: true } %>
  <%= link_to 'incorrect_answer',  show_game_path(session[:current_game]), :id => 'incorrect_answer', session: { answered_correctly: false } %>
</div>

<div class="container round-edges">
  <div class="row">
    <div class="text-center">
      <h2><%= @question.question_text %></h2>
    </div>
  </div>
</div>

<div class="text-center">
  <div class="center-block">
    <div class="btn-group-vertical btn-group-lg" style="margin: 9px 0;">

      <% randNumber = 1 + rand(4); %>

      <% def displayCorrectAnswer %>
          <% if @question.is_authorized == false && (current_user.role == 'Admin' || current_user.role == 'Reviewer') %>
              <button type="button" class="btn btn-success" id="correct"><%= @question.correct_answer %></button>
          <% else %>
              <button type="button" class="btn btn-default" id="correct"><%= @question.correct_answer %></button>
          <% end %>
      <% end %>

      <% if randNumber == 1  %>
        <% displayCorrectAnswer %>
      <% end %>
      <button type="button" class="btn btn-default" id="incorrect"><%= @question.incorrect_answer_1 %></button>
      <% if randNumber == 2 %>
          <% displayCorrectAnswer %>
      <% end %>
      <button type="button" class="btn btn-default" id="incorrect"><%= @question.incorrect_answer_2 %></button>
      <% if randNumber == 3 %>
          <% displayCorrectAnswer %>
      <% end %>
      <button type="button" class="btn btn-default" id="incorrect"><%= @question.incorrect_answer_3 %></button>
      <% if randNumber == 4 %>
          <% displayCorrectAnswer %>
      <% end %>
    </div>
  </div>
</div>

<% if @question.is_authorized == false && (current_user.role == 'Admin' || current_user.role == 'Reviewer') %>
    <div class="text-center">
      <%= button_to 'Accept question', accept_review_path, :class => 'btn btn-primary btn-lg btn-block', params: { id: params[:id], is_accepted: true }, :method => :get %>
    </div>
    <div class="text-center">
      <%= button_to 'Decline question', accept_review_path, :class => 'btn btn-primary btn-lg btn-block', params: { id: params[:id], is_accepted: false }, :method => :get %>
    </div>
<% end %>