<div class="modal fade" id="challengeModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Earn a piece!</h4>
            </div>

            <div class="modal-body row">
                <div role="tabpanel">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#challenge" aria-controls="challenge" role="tab" data-toggle="tab">Challenge</a></li>
                        <li role="presentation">
                            <a href="#stealAPiece" aria-controls="stealAPiece" role="tab" data-toggle="tab">Steal a Piece</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">

                        <div role="tabpanel" class="tab-pane active" id="challenge">
                            <div class="container col-md-12 text-center">
                                <div class="row">
                                    <% @categories.each_with_index do |category, i| %>
                                    <% if i == 3 %>
                                </div>
                                <div class="row">
                                    <% end %>
                                    <div class="col-md-3">
                                        <img id='<%= 'user' + category.capitalize + 'Image' %>' class='<%= 'user' + category.capitalize + 'Image' %>' src='<%= image_url('greyscale/'+ category + '.png') %>' width="50" height="50"></br>
                                        <%= category.capitalize %>
                                    </div>
                                    <% end %>
                                </div>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="stealAPiece">
                            <div id="betChoiceTab" class="container col-md-12 text-center">
                                Piece to bet (Note: you cannot bet pieces your opponent already has)
                                <div class="row">
                                    <% @categories.each_with_index do |category, i| %>
                                    <% if i == 3 %>
                                </div>
                                <div class="row">
                                    <% end %>
                                    <div class="col-md-3">
                                        <img id='<%= 'userBet' + category.capitalize + 'Image' %>' class='<%= 'userBet' + category.capitalize + 'Image' %>' src='<%= image_url('greyscale/'+ category + '.png') %>' width="50" height="50"></br>
                                        <%= category.capitalize %>
                                    </div>
                                    <% end %>
                                </div>
                            </div>

                            <div id="stealChoiceTab" class="container col-md-12 text-center">
                                Piece to steal (Note: you cannot steal pieces you already have)
                                <div class="row">
                                    <% @categories.each_with_index do |category, i| %>
                                    <% if i == 3 %>
                                </div>
                                <div class="row">
                                    <% end %>
                                    <div class="col-md-3">
                                        <img id='<%= 'opponentSteal' + category.capitalize + 'Image' %>' class='<%= 'opponentSteal' + category.capitalize + 'Image' %>' src='<%= image_url('greyscale/'+ category + '.png') %>' width="50" height="50"></br>
                                        <%= category.capitalize %>
                                    </div>
                                    <% end %>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
    $('#challengeModal').modal({
        backdrop: 'static',
        keyboard: false
    });
    $(window).load(function () {
        $('#challengeModal').modal('show')
    });
</script>