<%= simple_form_for(@game) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :user_email %>
    <%= f.input :opponent_user_email %>
    <%= f.input :user_pieces %>
    <%= f.input :opponent_pieces %>
    <%= f.input :round %>
    <%= f.input :user_turn_email %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
