<h1>Listing Games</h1>

<%= link_to 'New Game', new_game_path %>

</br></br>

<% if @opponent_turn_games.size > 0 %>
    <table class="table table-striped">
      <thead>
      <th>
        Thier turn
      </th>
      </thead>

      <tbody>
      <% @opponent_turn_games.each do |game| %>
          <tr>
            <td><%= game.opponent_user_email %></td>
            <td><%= game.user_pieces %></td>
            <td><%= game.opponent_pieces %></td>
            <td><%= game.round %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    </br>
<% end %>

<% if @user_turn_games.size > 0 %>
    <table class="table table-striped">
      <thead>
      <th>
        Your turn
      </th>
      </thead>

      <tbody>
      <% @user_turn_games.each do |game| %>
          <tr>
            <td><%= game.opponent_user_email %></td>
            <td><%= game.user_pieces %></td>
            <td><%= game.opponent_pieces %></td>
            <td><%= @opponent_turn_games.size %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>
