<div class="text-center">
    <%= button_to '+ New Game', new_game_path, :class => 'btn btn-info btn-lg', :method => :get, :style => 'width: 80%' %>
</div>

<br>

<% if @user_turn_games.size > 0 %>
    <div class="panel panel-default">
    <table class="table table-striped table-hover">
      <thead>
      <th>
        Your turn
      </th>
      <th>
        Your pieces
      </th>
      <th>
        Their pieces
      </th>
      <th>
        Round
      </th>
      </thead>

      <tbody>
      <% @user_turn_games.each do |game| %>
          <tr class="success" onclick="location.href='<%= game_path(game) %>'">
            <td>
              <div id="face-wrapper">
                <% current_opponent = User.find_by email: game.opponent_user_email %>

                <% if current_opponent.image && !current_opponent.hide_picture %>
                    <img src='<%= current_opponent.image %>' class="img-circle face">
                <% else %>
                    <img src='<%= image_url('default_profile.png')%>' class="img-circle face">
                <% end %>
                <% if(current_opponent.hide_email) %>
                    Opponent
                <% else %>
                    <%= current_opponent.email %>
                <% end %>
              </div>
            </td>
            <td>
              <% if current_user.email == game.user_email %>
                  <% pieces = game.user_pieces.split %>
                  <% if pieces.include? '1' %>
                      <img src='<%= image_url('icons/action.png') %>' width="50" height="50">
                  <% else %>
                      <img src='<%= image_url('greyscale/action.png') %>' width="50" height="50">
                  <% end %>
                  <% if pieces.include? '2' %>
                      <img src='<%= image_url('icons/adventure.png') %>' width="50" height="50">
                  <% else %>
                      <img src='<%= image_url('greyscale/adventure.png') %>' width="50" height="50">
                  <% end %>
                  <% if pieces.include? '3' %>
                      <img src='<%= image_url('icons/arcade.png') %>' width="50" height="50">
                  <% else %>
                      <img src='<%= image_url('greyscale/arcade.png') %>' width="50" height="50">
                  <% end %>
                  <% if pieces.include? '4' %>
                      <img src='<%= image_url('icons/fps.png') %>' width="50" height="50">
                  <% else %>
                      <img src='<%= image_url('greyscale/fps.png') %>' width="50" height="50">
                  <% end %>
                  <% if pieces.include? '5' %>
                      <img src='<%= image_url('icons/racing.png') %>' width="50" height="50">
                  <% else %>
                      <img src='<%= image_url('greyscale/racing.png') %>' width="50" height="50">
                  <% end %>
                  <% if pieces.include? '6' %>
                      <img src='<%= image_url('icons/role-playing.png') %>' width="50" height="50">
                  <% else %>
                      <img src='<%= image_url('greyscale/role-playing.png') %>' width="50" height="50">
                  <% end %>
              <% else %>
                  <% pieces = game.opponent_pieces.split %>
                  <% if pieces.include? '1' %>
                      <img src='<%= image_url('icons/action.png') %>' width="50" height="50">
                  <% else %>
                      <img src='<%= image_url('greyscale/action.png') %>' width="50" height="50">
                  <% end %>
                  <% if pieces.include? '2' %>
                      <img src='<%= image_url('icons/adventure.png') %>' width="50" height="50">
                  <% else %>
                      <img src='<%= image_url('greyscale/adventure.png') %>' width="50" height="50">
                  <% end %>
                  <% if pieces.include? '3' %>
                      <img src='<%= image_url('icons/arcade.png') %>' width="50" height="50">
                  <% else %>
                      <img src='<%= image_url('greyscale/arcade.png') %>' width="50" height="50">
                  <% end %>
                  <% if pieces.include? '4' %>
                      <img src='<%= image_url('icons/fps.png') %>' width="50" height="50">
                  <% else %>
                      <img src='<%= image_url('greyscale/fps.png') %>' width="50" height="50">
                  <% end %>
                  <% if pieces.include? '5' %>
                      <img src='<%= image_url('icons/racing.png') %>' width="50" height="50">
                  <% else %>
                      <img src='<%= image_url('greyscale/racing.png') %>' width="50" height="50">
                  <% end %>
                  <% if pieces.include? '6' %>
                      <img src='<%= image_url('icons/role-playing.png') %>' width="50" height="50">
                  <% else %>
                      <img src='<%= image_url('greyscale/role-playing.png') %>' width="50" height="50">
                  <% end %>
              <% end %>
            </td>
            <td>
              <% if current_user.email == game.user_email %>
                  <% pieces = game.opponent_pieces.split %>
                  <% if pieces.include? '1' %>
                      <img src='<%= image_url('icons/action.png') %>' width="50" height="50">
                  <% else %>
                      <img src='<%= image_url('greyscale/action.png') %>' width="50" height="50">
                  <% end %>
                  <% if pieces.include? '2' %>
                      <img src='<%= image_url('icons/adventure.png') %>' width="50" height="50">
                  <% else %>
                      <img src='<%= image_url('greyscale/adventure.png') %>' width="50" height="50">
                  <% end %>
                  <% if pieces.include? '3' %>
                      <img src='<%= image_url('icons/arcade.png') %>' width="50" height="50">
                  <% else %>
                      <img src='<%= image_url('greyscale/arcade.png') %>' width="50" height="50">
                  <% end %>
                  <% if pieces.include? '4' %>
                      <img src='<%= image_url('icons/fps.png') %>' width="50" height="50">
                  <% else %>
                      <img src='<%= image_url('greyscale/fps.png') %>' width="50" height="50">
                  <% end %>
                  <% if pieces.include? '5' %>
                      <img src='<%= image_url('icons/racing.png') %>' width="50" height="50">
                  <% else %>
                      <img src='<%= image_url('greyscale/racing.png') %>' width="50" height="50">
                  <% end %>
                  <% if pieces.include? '6' %>
                      <img src='<%= image_url('icons/role-playing.png') %>' width="50" height="50">
                  <% else %>
                      <img src='<%= image_url('greyscale/role-playing.png') %>' width="50" height="50">
                  <% end %>
              <% else %>
                  <% pieces = game.user_pieces.split %>
                  <% if pieces.include? '1' %>
                      <img src='<%= image_url('icons/action.png') %>' width="50" height="50">
                  <% else %>
                      <img src='<%= image_url('greyscale/action.png') %>' width="50" height="50">
                  <% end %>
                  <% if pieces.include? '2' %>
                      <img src='<%= image_url('icons/adventure.png') %>' width="50" height="50">
                  <% else %>
                      <img src='<%= image_url('greyscale/adventure.png') %>' width="50" height="50">
                  <% end %>
                  <% if pieces.include? '3' %>
                      <img src='<%= image_url('icons/arcade.png') %>' width="50" height="50">
                  <% else %>
                      <img src='<%= image_url('greyscale/arcade.png') %>' width="50" height="50">
                  <% end %>
                  <% if pieces.include? '4' %>
                      <img src='<%= image_url('icons/fps.png') %>' width="50" height="50">
                  <% else %>
                      <img src='<%= image_url('greyscale/fps.png') %>' width="50" height="50">
                  <% end %>
                  <% if pieces.include? '5' %>
                      <img src='<%= image_url('icons/racing.png') %>' width="50" height="50">
                  <% else %>
                      <img src='<%= image_url('greyscale/racing.png') %>' width="50" height="50">
                  <% end %>
                  <% if pieces.include? '6' %>
                      <img src='<%= image_url('icons/role-playing.png') %>' width="50" height="50">
                  <% else %>
                      <img src='<%= image_url('greyscale/role-playing.png') %>' width="50" height="50">
                  <% end %>
              <% end %>
            </td>
            <td><%= game.round %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    </div>
<% end %>

<% if @opponent_turn_games.size > 0 %>
    <div class="panel panel-default">
    <table class="table table-striped">
      <thead>
          <th>
            Their turn
          </th>
          <th>
            Your pieces
          </th>
          <th>
            Their pieces
          </th>
          <th>
            Round
      </th>
      </thead>
      <tbody>
      <% @opponent_turn_games.each do |game| %>
          <tr class="info">
            <td><div id="face-wrapper">
              <% if current_user.email == game.user_email %>
                  <% current_opponent = User.find_by email: game.opponent_user_email %>
              <% else %>
                  <% current_opponent = User.find_by email: game.user_email %>
              <% end %>
              <% if current_opponent.image && !current_opponent.hide_picture %>
                  <img src='<%= current_opponent.image %>' class="img-circle face">
              <% else %>
                  <img src='<%= image_url('default_profile.png')%>' class="img-circle face">
              <% end %>
              <% if(current_opponent.hide_email) %>
                  Opponent
              <% else %>
                  <%= current_opponent.email %>
              <% end %>
            </div>
            </td>
            <td>
              <% if current_user.email == game.user_email %>
                  <% pieces = game.user_pieces.split %>
                  <% if pieces.include? '1' %>
                      <img src='<%= image_url('icons/action.png') %>' width="50" height="50">
                  <% else %>
                      <img src='<%= image_url('greyscale/action.png') %>' width="50" height="50">
                  <% end %>
                  <% if pieces.include? '2' %>
                      <img src='<%= image_url('icons/adventure.png') %>' width="50" height="50">
                  <% else %>
                      <img src='<%= image_url('greyscale/adventure.png') %>' width="50" height="50">
                  <% end %>
                  <% if pieces.include? '3' %>
                      <img src='<%= image_url('icons/arcade.png') %>' width="50" height="50">
                  <% else %>
                      <img src='<%= image_url('greyscale/arcade.png') %>' width="50" height="50">
                  <% end %>
                  <% if pieces.include? '4' %>
                      <img src='<%= image_url('icons/fps.png') %>' width="50" height="50">
                  <% else %>
                      <img src='<%= image_url('greyscale/fps.png') %>' width="50" height="50">
                  <% end %>
                  <% if pieces.include? '5' %>
                      <img src='<%= image_url('icons/racing.png') %>' width="50" height="50">
                  <% else %>
                      <img src='<%= image_url('greyscale/racing.png') %>' width="50" height="50">
                  <% end %>
                  <% if pieces.include? '6' %>
                      <img src='<%= image_url('icons/role-playing.png') %>' width="50" height="50">
                  <% else %>
                      <img src='<%= image_url('greyscale/role-playing.png') %>' width="50" height="50">
                  <% end %>
              <% else %>
                  <% pieces = game.opponent_pieces.split %>
                  <% if pieces.include? '1' %>
                      <img src='<%= image_url('icons/action.png') %>' width="50" height="50">
                  <% else %>
                      <img src='<%= image_url('greyscale/action.png') %>' width="50" height="50">
                  <% end %>
                  <% if pieces.include? '2' %>
                      <img src='<%= image_url('icons/adventure.png') %>' width="50" height="50">
                  <% else %>
                      <img src='<%= image_url('greyscale/adventure.png') %>' width="50" height="50">
                  <% end %>
                  <% if pieces.include? '3' %>
                      <img src='<%= image_url('icons/arcade.png') %>' width="50" height="50">
                  <% else %>
                      <img src='<%= image_url('greyscale/arcade.png') %>' width="50" height="50">
                  <% end %>
                  <% if pieces.include? '4' %>
                      <img src='<%= image_url('icons/fps.png') %>' width="50" height="50">
                  <% else %>
                      <img src='<%= image_url('greyscale/fps.png') %>' width="50" height="50">
                  <% end %>
                  <% if pieces.include? '5' %>
                      <img src='<%= image_url('icons/racing.png') %>' width="50" height="50">
                  <% else %>
                      <img src='<%= image_url('greyscale/racing.png') %>' width="50" height="50">
                  <% end %>
                  <% if pieces.include? '6' %>
                      <img src='<%= image_url('icons/role-playing.png') %>' width="50" height="50">
                  <% else %>
                      <img src='<%= image_url('greyscale/role-playing.png') %>' width="50" height="50">
                  <% end %>
              <% end %>
            </td>
            <td>
              <% if current_user.email == game.user_email %>
                  <% pieces = game.opponent_pieces.split %>
                  <% if pieces.include? '1' %>
                      <img src='<%= image_url('icons/action.png') %>' width="50" height="50">
                  <% else %>
                      <img src='<%= image_url('greyscale/action.png') %>' width="50" height="50">
                  <% end %>
                  <% if pieces.include? '2' %>
                      <img src='<%= image_url('icons/adventure.png') %>' width="50" height="50">
                  <% else %>
                      <img src='<%= image_url('greyscale/adventure.png') %>' width="50" height="50">
                  <% end %>
                  <% if pieces.include? '3' %>
                      <img src='<%= image_url('icons/arcade.png') %>' width="50" height="50">
                  <% else %>
                      <img src='<%= image_url('greyscale/arcade.png') %>' width="50" height="50">
                  <% end %>
                  <% if pieces.include? '4' %>
                      <img src='<%= image_url('icons/fps.png') %>' width="50" height="50">
                  <% else %>
                      <img src='<%= image_url('greyscale/fps.png') %>' width="50" height="50">
                  <% end %>
                  <% if pieces.include? '5' %>
                      <img src='<%= image_url('icons/racing.png') %>' width="50" height="50">
                  <% else %>
                      <img src='<%= image_url('greyscale/racing.png') %>' width="50" height="50">
                  <% end %>
                  <% if pieces.include? '6' %>
                      <img src='<%= image_url('icons/role-playing.png') %>' width="50" height="50">
                  <% else %>
                      <img src='<%= image_url('greyscale/role-playing.png') %>' width="50" height="50">
                  <% end %>
              <% else %>
                  <% pieces = game.user_pieces.split %>
                  <% if pieces.include? '1' %>
                      <img src='<%= image_url('icons/action.png') %>' width="50" height="50">
                  <% else %>
                      <img src='<%= image_url('greyscale/action.png') %>' width="50" height="50">
                  <% end %>
                  <% if pieces.include? '2' %>
                      <img src='<%= image_url('icons/adventure.png') %>' width="50" height="50">
                  <% else %>
                      <img src='<%= image_url('greyscale/adventure.png') %>' width="50" height="50">
                  <% end %>
                  <% if pieces.include? '3' %>
                      <img src='<%= image_url('icons/arcade.png') %>' width="50" height="50">
                  <% else %>
                      <img src='<%= image_url('greyscale/arcade.png') %>' width="50" height="50">
                  <% end %>
                  <% if pieces.include? '4' %>
                      <img src='<%= image_url('icons/fps.png') %>' width="50" height="50">
                  <% else %>
                      <img src='<%= image_url('greyscale/fps.png') %>' width="50" height="50">
                  <% end %>
                  <% if pieces.include? '5' %>
                      <img src='<%= image_url('icons/racing.png') %>' width="50" height="50">
                  <% else %>
                      <img src='<%= image_url('greyscale/racing.png') %>' width="50" height="50">
                  <% end %>
                  <% if pieces.include? '6' %>
                      <img src='<%= image_url('icons/role-playing.png') %>' width="50" height="50">
                  <% else %>
                      <img src='<%= image_url('greyscale/role-playing.png') %>' width="50" height="50">
                  <% end %>
              <% end %>
            </td>
            <td><%= game.round %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
        </div>
<% end %>

<% if @past_games.size > 0 %>
    <div class="panel panel-default">
        <table class="table table-striped">
          <thead>
              <th>
                Past games
              </th>
              <th>
                Your pieces
              </th>
              <th>
                Their pieces
              </th>
              <th>
                Round
              </th>
          </thead>

          <tbody>
          <% @past_games.each do |game| %>
              <tr class="danger">
                <td><div id="face-wrapper">
                  <% if current_user.email == game.user_email %>
                      <% current_opponent = User.find_by email: game.opponent_user_email %>
                  <% else %>
                      <% current_opponent = User.find_by email: game.user_email %>
                  <% end %>
                  <% if current_opponent.image && !current_opponent.hide_picture %>
                      <img src='<%= current_opponent.image %>' class="img-circle face">
                  <% else %>
                      <img src='<%= image_url('default_profile.png')%>' class="img-circle face">
                  <% end %>
                  <% if(current_opponent.hide_email) %>
                      Opponent
                  <% else %>
                      <%= current_opponent.email %>
                  <% end %>
                </div></td>
                <td>
                  <% if current_user.email == game.user_email %>
                      <% pieces = game.user_pieces.split %>
                      <% if pieces.include? '1' %>
                          <img src='<%= image_url('icons/action.png') %>' width="50" height="50">
                      <% else %>
                          <img src='<%= image_url('greyscale/action.png') %>' width="50" height="50">
                      <% end %>
                      <% if pieces.include? '2' %>
                          <img src='<%= image_url('icons/adventure.png') %>' width="50" height="50">
                      <% else %>
                          <img src='<%= image_url('greyscale/adventure.png') %>' width="50" height="50">
                      <% end %>
                      <% if pieces.include? '3' %>
                          <img src='<%= image_url('icons/arcade.png') %>' width="50" height="50">
                      <% else %>
                          <img src='<%= image_url('greyscale/arcade.png') %>' width="50" height="50">
                      <% end %>
                      <% if pieces.include? '4' %>
                          <img src='<%= image_url('icons/fps.png') %>' width="50" height="50">
                      <% else %>
                          <img src='<%= image_url('greyscale/fps.png') %>' width="50" height="50">
                      <% end %>
                      <% if pieces.include? '5' %>
                          <img src='<%= image_url('icons/racing.png') %>' width="50" height="50">
                      <% else %>
                          <img src='<%= image_url('greyscale/racing.png') %>' width="50" height="50">
                      <% end %>
                      <% if pieces.include? '6' %>
                          <img src='<%= image_url('icons/role-playing.png') %>' width="50" height="50">
                      <% else %>
                          <img src='<%= image_url('greyscale/role-playing.png') %>' width="50" height="50">
                      <% end %>
                  <% else %>
                      <% pieces = game.opponent_pieces.split %>
                      <% if pieces.include? '1' %>
                          <img src='<%= image_url('icons/action.png') %>' width="50" height="50">
                      <% else %>
                          <img src='<%= image_url('greyscale/action.png') %>' width="50" height="50">
                      <% end %>
                      <% if pieces.include? '2' %>
                          <img src='<%= image_url('icons/adventure.png') %>' width="50" height="50">
                      <% else %>
                          <img src='<%= image_url('greyscale/adventure.png') %>' width="50" height="50">
                      <% end %>
                      <% if pieces.include? '3' %>
                          <img src='<%= image_url('icons/arcade.png') %>' width="50" height="50">
                      <% else %>
                          <img src='<%= image_url('greyscale/arcade.png') %>' width="50" height="50">
                      <% end %>
                      <% if pieces.include? '4' %>
                          <img src='<%= image_url('icons/fps.png') %>' width="50" height="50">
                      <% else %>
                          <img src='<%= image_url('greyscale/fps.png') %>' width="50" height="50">
                      <% end %>
                      <% if pieces.include? '5' %>
                          <img src='<%= image_url('icons/racing.png') %>' width="50" height="50">
                      <% else %>
                          <img src='<%= image_url('greyscale/racing.png') %>' width="50" height="50">
                      <% end %>
                      <% if pieces.include? '6' %>
                          <img src='<%= image_url('icons/role-playing.png') %>' width="50" height="50">
                      <% else %>
                          <img src='<%= image_url('greyscale/role-playing.png') %>' width="50" height="50">
                      <% end %>
                  <% end %>
                </td>
                <td>
                  <% if current_user.email == game.user_email %>
                      <% pieces = game.opponent_pieces.split %>
                      <% if pieces.include? '1' %>
                          <img src='<%= image_url('icons/action.png') %>' width="50" height="50">
                      <% else %>
                          <img src='<%= image_url('greyscale/action.png') %>' width="50" height="50">
                      <% end %>
                      <% if pieces.include? '2' %>
                          <img src='<%= image_url('icons/adventure.png') %>' width="50" height="50">
                      <% else %>
                          <img src='<%= image_url('greyscale/adventure.png') %>' width="50" height="50">
                      <% end %>
                      <% if pieces.include? '3' %>
                          <img src='<%= image_url('icons/arcade.png') %>' width="50" height="50">
                      <% else %>
                          <img src='<%= image_url('greyscale/arcade.png') %>' width="50" height="50">
                      <% end %>
                      <% if pieces.include? '4' %>
                          <img src='<%= image_url('icons/fps.png') %>' width="50" height="50">
                      <% else %>
                          <img src='<%= image_url('greyscale/fps.png') %>' width="50" height="50">
                      <% end %>
                      <% if pieces.include? '5' %>
                          <img src='<%= image_url('icons/racing.png') %>' width="50" height="50">
                      <% else %>
                          <img src='<%= image_url('greyscale/racing.png') %>' width="50" height="50">
                      <% end %>
                      <% if pieces.include? '6' %>
                          <img src='<%= image_url('icons/role-playing.png') %>' width="50" height="50">
                      <% else %>
                          <img src='<%= image_url('greyscale/role-playing.png') %>' width="50" height="50">
                      <% end %>
                  <% else %>
                      <% pieces = game.user_pieces.split %>
                      <% if pieces.include? '1' %>
                          <img src='<%= image_url('icons/action.png') %>' width="50" height="50">
                      <% else %>
                          <img src='<%= image_url('greyscale/action.png') %>' width="50" height="50">
                      <% end %>
                      <% if pieces.include? '2' %>
                          <img src='<%= image_url('icons/adventure.png') %>' width="50" height="50">
                      <% else %>
                          <img src='<%= image_url('greyscale/adventure.png') %>' width="50" height="50">
                      <% end %>
                      <% if pieces.include? '3' %>
                          <img src='<%= image_url('icons/arcade.png') %>' width="50" height="50">
                      <% else %>
                          <img src='<%= image_url('greyscale/arcade.png') %>' width="50" height="50">
                      <% end %>
                      <% if pieces.include? '4' %>
                          <img src='<%= image_url('icons/fps.png') %>' width="50" height="50">
                      <% else %>
                          <img src='<%= image_url('greyscale/fps.png') %>' width="50" height="50">
                      <% end %>
                      <% if pieces.include? '5' %>
                          <img src='<%= image_url('icons/racing.png') %>' width="50" height="50">
                      <% else %>
                          <img src='<%= image_url('greyscale/racing.png') %>' width="50" height="50">
                      <% end %>
                      <% if pieces.include? '6' %>
                          <img src='<%= image_url('icons/role-playing.png') %>' width="50" height="50">
                      <% else %>
                          <img src='<%= image_url('greyscale/role-playing.png') %>' width="50" height="50">
                      <% end %>
                  <% end %>
                </td>
                <td>
                  <%= game.round %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
    </div>
<% end %>

<% if !current_user.hide_store %>
    <div class="text-center">
      <%= button_to 'Coin Store', coin_store_path, :class => 'btn btn-warning btn-lg', :method => :get, :style => 'width: 80%' %>
    </div>
<% end %>
<div class="text-center">
  <%= button_to 'Submit a question', new_question_path, :class => 'btn btn-primary btn-lg', :method => :get, :style => 'width: 80%' %>
</div>
<% if current_user.role == 'Admin' || current_user.role == 'Reviewer' %>
    <div class="text-center">
      <%= button_to 'Review questions', show_review_path, :class => 'btn btn-primary btn-lg', :method => :get, :style => 'width: 80%' %>
    </div>
<% end %>