<div class="text-center">
  <p>
    <strong>Round:</strong>
    <%= @game.round %>
  </p>
</div>

<div class="container round-edges">
  <div class="row">
    <div class="col-xs-1">
      <div id="face-wrapper">
        <% if current_user.image %>
            <img src='<%= current_user.image %>' class="img-circle face">
        <% else %>
            <img src='<%= image_url('default_profile.png') %>' class="img-circle face">
        <% end %>
      </div>
    </div>
    <div class="col-xs-5">
      <%= @game.user_email %> - Level: <%= (current_user.level / 10) + 1 %> </br>
      <img id="userActionImage" src='<%= image_url('greyscale/action.png') %>' width="50" height="50">
      <img id="userAdventureImage" src='<%= image_url('greyscale/adventure.png') %>' width="50" height="50">
      <img id="userArcadeImage" src='<%= image_url('greyscale/arcade.png') %>' width="50" height="50">
      <img id="userFpsImage" src='<%= image_url('greyscale/fps.png') %>' width="50" height="50">
      <img id="userRacingImage" src='<%= image_url('greyscale/racing.png') %>' width="50" height="50">
      <img id="userRolePlayingImage" src='<%= image_url('greyscale/role-playing.png') %>' width="50" height="50">
    </div>
    <div class="col-xs-5" style="border-left-style: dotted">
      <div class="pull-right">
        <%= @game.opponent_user_email %> - Level: <%= (@current_opponent.level / 10) + 1 %></div>
      </br>
      <div class="pull-right">
        <img id="opponentRolePlayingImage" src='<%= image_url('greyscale/role-playing.png') %>' width="50" height="50">
        <img id="opponentRacingImage" src='<%= image_url('greyscale/racing.png') %>' width="50" height="50">
        <img id="opponentFpsImage" src='<%= image_url('greyscale/fps.png') %>' width="50" height="50">
        <img id="opponentArcadeImage" src='<%= image_url('greyscale/arcade.png') %>' width="50" height="50">
        <img id="opponentAdventureImage" src='<%= image_url('greyscale/adventure.png') %>' width="50" height="50">
        <img id="opponentActionImage" src='<%= image_url('greyscale/action.png') %>' width="50" height="50">
      </div>
    </div>
    <div class="col-xs-1">
      <div class="pull-right">
        <div id="face-wrapper">
          <% if @current_opponent.image %>
              <img src='<%= @current_opponent.image %>' class="img-circle face">
          <% else %>
              <img src='<%= image_url('default_profile.png') %>' class="img-circle face">
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

</br>

<div class="row text-center">
    <a href='<%= questions_path %>'><img src='<%= image_url('spinner.jpg') %>' class="img-circle"></a>
</div>


</br>
</br>

<div class="container">
    <div class="row text-center">
        <div class="col-xs-4">
            <%= button_to 'Resign', games_path, :class => 'btn btn-info btn-block' %>
        </div>
        <div class="col-xs-4">
            <img src='<%= image_url('triforce_meter/' + @game.user_meter.to_s + '.png') %>' width="150">
        </div>
        <div class="col-xs-4">
        </div>
    </div>
</div>


<div class="row text-center">
  <%= link_to 'Edit', edit_game_path(@game) %> |
  <%= link_to 'Back', games_path %>
</div>

<% if @game.user_pieces == "1 2 3 4 5 6" %>
    <% @game.is_game_over = true %>
    <% @game.save! %>
    <% @user = User.find_by(email: @game.user_email) %>
    <% @user.coins += 5 %>
    <% @user.save %>
    <div class="modal fade" id="wonModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Congratulations! You've won!</h4>
          </div>
          <img id="youWin" src='<%= image_url('win.gif') %>'>
          You win 5 coins! Total coins: <%= @user.coins %>
          <%= button_to 'Back to game select', games_path, :class => 'btn btn-info btn-lg btn-block', :method => :get %>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <script>
        $('#wonModal').modal({
            backdrop: 'static',
            keyboard: false
        });
        $(window).load(function () {
            $('#wonModal').modal('show')
        });
    </script>
<% end %>

<% if @game.user_meter == 3 %>
    <div class="modal fade" id="challengeModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Earn a piece!</h4>
          </div>
          <div class="modal-body row">
            <div role="tabpanel">

              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                  <a href="#challenge" aria-controls="challenge" role="tab" data-toggle="tab">Challenge</a></li>
                <li role="presentation">
                  <a href="#stealAPiece" aria-controls="stealAPiece" role="tab" data-toggle="tab">Steal a Piece</a></li>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="challenge">
                  <div class="container col-md-12 text-center">
                    <div class="row">
                      <div class="col-md-3">
                        <img id="userActionImage" class="userActionImage" src='<%= image_url('greyscale/action.png') %>' width="50" height="50"></br>
                        Action
                      </div>
                      <div class="col-md-3">
                        <img id="userAdventureImage" class='userAdventureImage' src='<%= image_url('greyscale/adventure.png') %>' width="50" height="50"></br>
                        Adventure
                      </div>
                      <div class="col-md-3">
                        <img id="userArcadeImage" class='userArcadeImage' src='<%= image_url('greyscale/arcade.png') %>' width="50" height="50"></br>
                        Arcade
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3">
                        <img id="userFpsImage" class='userFpsImage' src='<%= image_url('greyscale/fps.png') %>' width="50" height="50"></br>
                        Fps
                      </div>
                      <div class="col-md-3">
                        <img id="userRacingImage" class="userRacingImage" src='<%= image_url('greyscale/racing.png') %>' width="50" height="50"></br>
                        Racing
                      </div>
                      <div class="col-md-3">
                        <img id="userRolePlayingImage" class="userRolePlayingImage" src='<%= image_url('greyscale/role-playing.png') %>' width="50" height="50"></br>
                        Role-playing
                      </div>
                    </div>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="stealAPiece">
                  <div id="betChoiceTab" class="container col-md-12 text-center">
                    Piece to bet (Note: you cannot bet pieces your opponent already has)
                    <div class="row">
                      <div class="col-md-3">
                        <img id="userBetActionImage" class="userBetActionImage" src='<%= image_url('greyscale/action.png') %>' width="50" height="50"></br>
                        Action
                      </div>
                      <div class="col-md-3">
                        <img id="userBetAdventureImage" class='userBetAdventureImage' src='<%= image_url('greyscale/adventure.png') %>' width="50" height="50"></br>
                        Adventure
                      </div>
                      <div class="col-md-3">
                        <img id="userBetArcadeImage" class='userBetArcadeImage' src='<%= image_url('greyscale/arcade.png') %>' width="50" height="50"></br>
                        Arcade
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3">
                        <img id="userBetFpsImage" class='userBetFpsImage' src='<%= image_url('greyscale/fps.png') %>' width="50" height="50"></br>
                        Fps
                      </div>
                      <div class="col-md-3">
                        <img id="userBetRacingImage" class="userBetRacingImage" src='<%= image_url('greyscale/racing.png') %>' width="50" height="50"></br>
                        Racing
                      </div>
                      <div class="col-md-3">
                        <img id="userBetRolePlayingImage" class="userBetRolePlayingImage" src='<%= image_url('greyscale/role-playing.png') %>' width="50" height="50"></br>
                        Role-playing
                      </div>
                    </div>
                  </div>

                  <div id="stealChoiceTab" class="container col-md-12 text-center">
                    Piece to steal (Note: you cannot steal pieces you already have)
                    <div class="row">
                      <div class="col-md-3">
                        <img id="opponentStealActionImage" class="opponentStealActionImage" src='<%= image_url('greyscale/action.png') %>' width="50" height="50"></br>
                        Action
                      </div>
                      <div class="col-md-3">
                        <img id="opponentStealAdventureImage" class='opponentStealAdventureImage' src='<%= image_url('greyscale/adventure.png') %>' width="50" height="50"></br>
                        Adventure
                      </div>
                      <div class="col-md-3">
                        <img id="opponentStealArcadeImage" class='opponentStealArcadeImage' src='<%= image_url('greyscale/arcade.png') %>' width="50" height="50"></br>
                        Arcade
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3">
                        <img id="opponentStealFpsImage" class='opponentStealFpsImage' src='<%= image_url('greyscale/fps.png') %>' width="50" height="50"></br>
                        Fps
                      </div>
                      <div class="col-md-3">
                        <img id="opponentStealRacingImage" class="opponentStealRacingImage" src='<%= image_url('greyscale/racing.png') %>' width="50" height="50"></br>
                        Racing
                      </div>
                      <div class="col-md-3">
                        <img id="opponentStealRolePlayingImage" class="opponentStealRolePlayingImage" src='<%= image_url('greyscale/role-playing.png') %>' width="50" height="50"></br>
                        Role-playing
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <script>
        $('#challengeModal').modal({
            backdrop: 'static',
            keyboard: false
        });
        $(window).load(function () {
            $('#challengeModal').modal('show')
        });
    </script>
<% end %>

<script>
    $("#stealChoiceTab").hide();
    var piece_to_bet = "";
    <% if @game.user_pieces.split.include? '1' %>
    document.getElementById("userActionImage").src = '<%= image_url('icons/action.png')%>';
    $('img.userActionImage').attr("src", '<%= image_url('icons/action.png')%>');
        <% if !@game.opponent_pieces.split.include? '1' %>
            $('img.userBetActionImage').attr("src", '<%= image_url('icons/action.png')%>');
            $(function () {
                $("img.userBetActionImage").click(function () {
                    $(this).css('border', "solid 2px red");
                    $("#betChoiceTab").hide();
                    $("#stealChoiceTab").show();
                    piece_to_bet = 'action';
                });
            });
        <% end %>
    <% else %>
    $('img.userActionImage').click(function () {
        $.post('/chosen_category', {chosen_category: 'action' , type: 'challenge'});
    });
    <% end %>

    <% if @game.user_pieces.split.include? '2' %>
    document.getElementById("userAdventureImage").src = '<%= image_url('icons/adventure.png')%>';
    $('img.userAdventureImage').attr("src", '<%= image_url('icons/adventure.png')%>');

        <% if !@game.opponent_pieces.split.include? '2' %>
        $('img.userBetAdventureImage').attr("src", '<%= image_url('icons/adventure.png')%>');
        $(function () {
            $("img.userBetAdventureImage").click(function () {
                $(this).css('border', "solid 2px red");
                $("#betChoiceTab").hide();
                $("#stealChoiceTab").show();
                piece_to_bet = 'adventure';
            });
        });
        <% end %>
    <% else %>
    $("img.userAdventureImage").click(function () {
        $.post('/chosen_category', {chosen_category: 'adventure', type: 'challenge'});
    });
    <% end %>

    <% if @game.user_pieces.split.include? '3' %>
    document.getElementById("userArcadeImage").src = '<%= image_url('icons/arcade.png')%>';
    $('img.userArcadeImage').attr("src", '<%= image_url('icons/arcade.png')%>');

    <% if !@game.opponent_pieces.split.include? '3' %>
        $('img.userBetArcadeImage').attr("src", '<%= image_url('icons/arcade.png')%>');
        $(function () {
            $("img.userBetArcadeImage").click(function () {
                $(this).css('border', "solid 2px red");
                $("#betChoiceTab").hide();
                $("#stealChoiceTab").show();
                piece_to_bet = 'arcade';
            });
        });
    <% end %>
    <% else %>
    $("img.userArcadeImage").click(function () {
        $.post('/chosen_category', {chosen_category: 'arcade', type: 'challenge'});
    });
    <% end %>

    <% if @game.user_pieces.split.include? '4' %>
    document.getElementById("userFpsImage").src = '<%= image_url('icons/fps.png')%>';
    $('img.userFpsImage').attr("src", '<%= image_url('icons/fps.png')%>');

    <% if !@game.opponent_pieces.split.include? '4' %>
    $('img.userBetFpsImage').attr("src", '<%= image_url('icons/fps.png')%>');
    $(function () {
        $("img.userBetFpsImage").click(function () {
            $(this).css('border', "solid 2px red");
            $("#betChoiceTab").hide();
            $("#stealChoiceTab").show();
            piece_to_bet = 'fps';
        });
    });
    <% end %>
    <% else %>
    $("img.userFpsImage").click(function () {
        $.post('/chosen_category', {chosen_category: 'fps', type: 'challenge'});
    });
    <% end %>

    <% if @game.user_pieces.split.include? '5' %>
    document.getElementById("userRacingImage").src = '<%= image_url('icons/racing.png')%>';
    $('img.userRacingImage').attr("src", '<%= image_url('icons/racing.png')%>');

    <% if !@game.opponent_pieces.split.include? '5' %>
    $('img.userBetRacingImage').attr("src", '<%= image_url('icons/racing.png')%>');
    $(function () {
        $("img.userBetRacingImage").click(function () {
            $(this).css('border', "solid 2px red");
            $("#betChoiceTab").hide();
            $("#stealChoiceTab").show();
            piece_to_bet = 'racing';
        });
    });
    <% end %>
    <% else %>
    $("img.userRacingImage").click(function () {
        $.post('/chosen_category', {chosen_category: 'racing', type: 'challenge'});
    });
    <% end %>

    <% if @game.user_pieces.split.include? '6' %>
    document.getElementById("userRolePlayingImage").src = '<%= image_url('icons/role-playing.png')%>';
    $('img.userRolePlayingImage').attr("src", '<%= image_url('icons/role-playing.png')%>');

        <% if !@game.opponent_pieces.split.include? '6' %>
            $('img.userBetRolePlayingImage').attr("src", '<%= image_url('icons/role-playing.png')%>');
            $(function () {
                $("img.userBetRolePlayingImage").click(function () {
                    $(this).css('border', "solid 2px red");
                    $("#betChoiceTab").hide();
                    $("#stealChoiceTab").show();
                    piece_to_bet = 'role-playing';
                });
            });
        <% end %>

    <% else %>
        $("img.userRolePlayingImage").click(function () {
            $.post('/chosen_category', {chosen_category: 'role-playing', type: 'challenge'});
        });
    <% end %>

    <% if @game.opponent_pieces.split.include? '1' %>
    document.getElementById("opponentActionImage").src = '<%= image_url('icons/action.png')%>';
    $('img.opponentActionImage').attr("src", '<%= image_url('icons/action.png')%>');
        <% if !@game.user_pieces.split.include? '1' %>
            $('img.opponentStealActionImage').attr("src", '<%= image_url('icons/action.png')%>');
            $(function () {
                $("img.opponentStealActionImage").click(function () {
                    $.post('/steal_piece_settings', {chosen_category: 'action', bet_piece: piece_to_bet, type: 'steal'});
                });
            });
        <% end %>

    $("img.opponentActionImage").click(function () {
        $.post('/chosen_category', {chosen_category: 'action'});
    });

    <% end %>

    <% if @game.opponent_pieces.split.include? '2' %>
    document.getElementById("opponentAdventureImage").src = '<%= image_url('icons/adventure.png')%>';
    $('img.opponentAdventureImage').attr("src", '<%= image_url('icons/adventure.png')%>');

        <% if !@game.user_pieces.split.include? '2' %>
            $('img.opponentStealAdventureImage').attr("src", '<%= image_url('icons/adventure.png')%>');
            $(function () {
                $("img.opponentStealAdventureImage").click(function () {
                    $.post('/steal_piece_settings', {chosen_category: 'adventure', bet_piece: piece_to_bet, type: 'steal'});
                });
            });
        <% end %>
    $("img.opponentAdventureImage").click(function () {
        $.post('/chosen_category', {chosen_category: 'adventure'});
    });


    <% end %>

    <% if @game.opponent_pieces.split.include? '3' %>
    document.getElementById("opponentArcadeImage").src = '<%= image_url('icons/arcade.png')%>';
    $('img.opponentArcadeImage').attr("src", '<%= image_url('icons/arcade.png')%>');

    $("img.opponentArcadeImage").click(function () {
        $.post('/chosen_category', {chosen_category: 'arcade'});
    });

    <% if !@game.user_pieces.split.include? '3' %>
        $('img.opponentStealArcadeImage').attr("src", '<%= image_url('icons/arcade.png')%>');
        $(function () {
            $("img.opponentStealArcadeImage").click(function () {
                $.post('/steal_piece_settings', {chosen_category: 'arcade', bet_piece: piece_to_bet, type: 'steal'});
            });
        });
    <% end %>


    <% end %>

    <% if @game.opponent_pieces.split.include? '4' %>
    document.getElementById("opponentFpsImage").src = '<%= image_url('icons/fps.png')%>';
    $('img.opponentFpsImage').attr("src", '<%= image_url('icons/fps.png')%>');
    $("img.opponentFpsImage").click(function () {
        $.post('/chosen_category', {chosen_category: 'fps'});
    });

        <% if !@game.user_pieces.split.include? '4' %>
            $('img.opponentStealFpsImage').attr("src", '<%= image_url('icons/fps.png')%>');
            $(function () {
                $("img.opponentStealFpsImage").click(function () {
                    $.post('/steal_piece_settings', {chosen_category: 'fps', bet_piece: piece_to_bet, type: 'steal'});
                });
            });
        <% end %>

    <% end %>

    <% if @game.opponent_pieces.split.include? '5' %>
    document.getElementById("opponentRacingImage").src = '<%= image_url('icons/racing.png')%>';
    $('img.opponentRacingImage').attr("src", '<%= image_url('icons/racing.png')%>');
    $("img.opponentRacingImage").click(function () {
        $.post('/chosen_category', {chosen_category: 'racing'});
    });

    <% if !@game.user_pieces.split.include? '5' %>
    $('img.opponentStealRacingImage').attr("src", '<%= image_url('icons/racing.png')%>');
    $(function () {
        $("img.opponentStealRacingImage").click(function () {
            $.post('/steal_piece_settings', {chosen_category: 'racing', bet_piece: piece_to_bet, type: 'steal'});
        });
    });
    <% end %>


    <% end %>

    <% if @game.opponent_pieces.split.include? '6' %>
    document.getElementById("opponentRolePlayingImage").src = '<%= image_url('icons/role-playing.png')%>';
    $('img.opponentStealRolePlayingImage').attr("src", '<%= image_url('icons/role-playing.png')%>');
        <% if !@game.user_pieces.split.include? '6' %>
            $('img.opponentRolePlayingImage').attr("src", '<%= image_url('icons/role-playing.png')%>');
            $(function () {
                $("img.opponentStealRolePlayingImage").click(function () {
                    $.post('/steal_piece_settings', {chosen_category: 'role-playing', bet_piece: piece_to_bet, type: 'steal'});
                });
            });
        <% end %>
    $("img.opponentRolePlayingImage").click(function () {
        $.post('/chosen_category', {chosen_category: 'role-playing'});
    });

    <% end %>
</script>