<p id="notice"><%= notice %></p>

<div class="text-center">
  <p>
    <strong>Round:</strong>
    <%= @game.round %>
  </p>
</div>

<div class="container round-edges">
    <div class="row">
        <div class="col-xs-1">
          <div id="face-wrapper">
            <% if current_user.image %>
                <img src='<%= current_user.image %>' class="img-circle face">
            <% else %>
                <img src='<%= image_url('default_profile.png')%>' class="img-circle face">
            <% end %>
          </div>
        </div>
        <div class="col-xs-5">
            <%= @game.user_email %> </br>
              <img src='<%= image_url('icons/action.png')%>' width="50" height="50">
              <img src='<%= image_url('icons/adventure.png')%>' width="50" height="50">
              <img src='<%= image_url('icons/arcade.png')%>' width="50" height="50">
              <img src='<%= image_url('icons/fps.png')%>' width="50" height="50">
              <img src='<%= image_url('icons/racing.png')%>' width="50" height="50">
              <img src='<%= image_url('icons/role-playing.png')%>' width="50" height="50">
        </div>
        <div class="col-xs-5" style="border-left-style: dotted">
            <div class="pull-right">
                <%= @game.opponent_user_email %></div> </br>
          <div class="pull-right">
            <img src='<%= image_url('icons/role-playing.png')%>' width="50" height="50">
            <img src='<%= image_url('icons/racing.png')%>' width="50" height="50">
            <img src='<%= image_url('icons/fps.png')%>' width="50" height="50">
            <img src='<%= image_url('icons/arcade.png')%>' width="50" height="50">
            <img src='<%= image_url('icons/adventure.png')%>' width="50" height="50">
              <img src='<%= image_url('icons/action.png')%>' width="50" height="50">
          </div>
        </div>
        <div class="col-xs-1">
            <div class="pull-right">
              <div id="face-wrapper">
                  <% if @current_opponent.image %>
                      <img src='<%= @current_opponent.image %>' class="img-circle face">
                  <% else %>
                      <img src='<%= image_url('default_profile.png')%>' class="img-circle face">
                  <% end %>
              </div>
            </div>
        </div>
    </div>
</div>

</br>

<div class="row text-center">
    <a href='<%= questions_path %>'><img src='<%= image_url('spinner.jpg')%>' class="img-circle"></a>
</div>


</br>
</br>

<div class="row text-center">
    <%= link_to 'Edit', edit_game_path(@game) %> |
    <%= link_to 'Back', games_path %>
</div>
