<p id="notice"><%= notice %></p>

<div class="text-center">
  <p>
    <strong>Round:</strong>
    <%= @game.round %>
  </p>
</div>

<div class="container round-edges">
    <div class="row">
        <div class="col-xs-1">
          <div id="face-wrapper">
            <% if current_user.image %>
                <img src='<%= current_user.image %>' class="img-circle face">
            <% else %>
                <img src='<%= image_url('default_profile.png')%>' class="img-circle face">
            <% end %>
          </div>
        </div>
        <div class="col-xs-5">
            <%= @game.user_email %> </br>
              <img id="userActionImage" src='<%= image_url('greyscale/action.png')%>' width="50" height="50">
              <img id="userAdventureImage" src='<%= image_url('greyscale/adventure.png')%>' width="50" height="50">
              <img id="userArcadeImage" src='<%= image_url('greyscale/arcade.png')%>' width="50" height="50">
              <img id="userFpsImage" src='<%= image_url('greyscale/fps.png')%>' width="50" height="50">
              <img id="userRacingImage" src='<%= image_url('greyscale/racing.png')%>' width="50" height="50">
              <img id="userRolePlayingImage" src='<%= image_url('greyscale/role-playing.png')%>' width="50" height="50">
        </div>
        <div class="col-xs-5" style="border-left-style: dotted">
            <div class="pull-right">
                <%= @game.opponent_user_email %></div> </br>
          <div class="pull-right">
            <img id="opponentRolePlayingImage" src='<%= image_url('greyscale/role-playing.png')%>' width="50" height="50">
            <img id="opponentRacingImage" src='<%= image_url('greyscale/racing.png')%>' width="50" height="50">
            <img id="opponentFpsImage" src='<%= image_url('greyscale/fps.png')%>' width="50" height="50">
            <img id="opponentArcadeImage" src='<%= image_url('greyscale/arcade.png')%>' width="50" height="50">
            <img id="opponentAdventureImage" src='<%= image_url('greyscale/adventure.png')%>' width="50" height="50">
            <img id="opponentActionImage" src='<%= image_url('greyscale/action.png')%>' width="50" height="50">
          </div>
        </div>
        <div class="col-xs-1">
            <div class="pull-right">
              <div id="face-wrapper">
                  <% if @current_opponent.image %>
                      <img src='<%= @current_opponent.image %>' class="img-circle face">
                  <% else %>
                      <img src='<%= image_url('default_profile.png')%>' class="img-circle face">
                  <% end %>
              </div>
            </div>
        </div>
    </div>
</div>

</br>

<div class="row text-center">
    <a href='<%= questions_path %>'><img src='<%= image_url('spinner.jpg')%>' class="img-circle"></a>
</div>


</br>
</br>

<div class="row text-center">
    <%= link_to 'Edit', edit_game_path(@game) %> |
    <%= link_to 'Back', games_path %>
</div>

<% if @game.user_pieces.split.include? '1' %>
    <script>
        document.getElementById("userActionImage").src = '<%= image_url('icons/action.png')%>';
    </script>
<% end %>

<% if @game.user_pieces.split.include? '2' %>
    <script>
        document.getElementById("userAdventureImage").src = '<%= image_url('icons/adventure.png')%>';
    </script>
<% end %>

<% if @game.user_pieces.split.include? '3' %>
    <script>
        document.getElementById("userArcadeImage").src = '<%= image_url('icons/arcade.png')%>';
    </script>
<% end %>

<% if @game.user_pieces.split.include? '4' %>
    <script>
        document.getElementById("userFpsImage").src = '<%= image_url('icons/fps.png')%>';
    </script>
<% end %>

<% if @game.user_pieces.split.include? '5' %>
    <script>
        document.getElementById("userRacingImage").src = '<%= image_url('icons/racing.png')%>';
    </script>
<% end %>

<% if @game.user_pieces.split.include? '6' %>
    <script>
        document.getElementById("userRolePlayingImage").src = '<%= image_url('icons/role-playing.png')%>';
    </script>
<% end %>

<% if @game.opponent_pieces.split.include? '1' %>
    <script>
        document.getElementById("opponentActionImage").src = '<%= image_url('icons/action.png')%>';
    </script>
<% end %>

<% if @game.opponent_pieces.split.include? '2' %>
    <script>
        document.getElementById("opponentAdventureImage").src = '<%= image_url('icons/adventure.png')%>';
    </script>
<% end %>

<% if @game.opponent_pieces.split.include? '3' %>
    <script>
        document.getElementById("opponentArcadeImage").src = '<%= image_url('icons/arcade.png')%>';
    </script>
<% end %>

<% if @game.opponent_pieces.split.include? '4' %>
    <script>
        document.getElementById("opponentFpsImage").src = '<%= image_url('icons/fps.png')%>';
    </script>
<% end %>

<% if @game.opponent_pieces.split.include? '5' %>
    <script>
        document.getElementById("opponentRacingImage").src = '<%= image_url('icons/racing.png')%>';
    </script>
<% end %>

<% if @game.opponent_pieces.split.include? '6' %>
    <script>
        document.getElementById("opponentRolePlayingImage").src = '<%= image_url('icons/role-playing.png')%>';
    </script>
<% end %>