<p id="notice"><%= notice %></p>

<div class="container round-edges">
    <div class="row">
        <div class="col-xs-1">
            <% if current_user.image %>
              <img src=<%= current_user.image %> class="img-circle">
            <% else %>
              <img src=<%= image_url('default_profile.png')%> class="img-circle">
            <% end %>
        </div>
        <div class="col-xs-5">
            <%= @game.user_email %>
        </div>
        <div class="col-xs-5" style="border-left-style: dotted">
            <div class="pull-right">
                <%= @game.opponent_user_email %>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="pull-right">
                <img src=<%= @current_opponent.image %> class="img-circle">
            </div>
        </div>
    </div>
</div>


<p>
  <strong>User pieces:</strong>
  <%= @game.user_pieces %>
</p>

<p>
  <strong>Opponent pieces:</strong>
  <%= @game.opponent_pieces %>
</p>

<p>
  <strong>Round:</strong>
  <%= @game.round %>
</p>

<p>
  <strong>User turn email:</strong>
  <%= @game.user_turn_email %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
