<div class="text-center">
  <p>
    <strong>Round:</strong>
    <%= @game.round %>
  </p>
</div>

<div class="container round-edges">
  <div class="row">
    <div class="col-xs-1">
      <div id="face-wrapper">
        <% if current_user.image && !current_user.hide_picture %>
            <%= link_to image_tag(current_user.image, :class => 'img-circle face'), '#', 'data-toggle' => 'modal', 'data-target' => '#statsModal' %>
        <% else %>
            <%= link_to image_tag("default_profile.png", :class => 'img-circle face'), '#', 'data-toggle' => 'modal', 'data-target' => '#statsModal' %>
        <% end %>
      </div>
    </div>
    <div class="col-xs-5">
      <% if current_user.hide_email %>
          You - Level: <%= (current_user.level / 10) + 1 %>
      <% else %>
          <%= @game.user_email %> - Level: <%= (current_user.level / 10) + 1 %>
      <% end %>
            (Next level: <%= ((current_user.level % 10) - 10) * -1 %> exp)
       </br>

      <% @categories.each do |categories| %>
          <img id='<%= 'user' + categories.capitalize + 'Image' %>' src='<%= image_url('greyscale/'+ categories + '.png') %>' width="50" height="50">
      <% end %>
    </div>
    <div class="col-xs-5" style="border-left-style: dotted">
      <div class="pull-right">
        <% if @current_opponent.hide_email %>
            Opponent - Level: <%= (@current_opponent.level / 10) + 1 %>
        <% else %>
            <%= @game.opponent_user_email %> - Level: <%= (@current_opponent.level / 10) + 1 %>
        <% end %>
        </div>
      </br>
      <div class="pull-right">
        <% @categories.each do |categories| %>
            <img id='<%= 'opponent' + categories.capitalize + 'Image' %>' src='<%= image_url('greyscale/'+ categories + '.png') %>' width="50" height="50">
        <% end %>
      </div>
    </div>
    <div class="col-xs-1">
      <div class="pull-right">
        <div id="face-wrapper">
          <% if @current_opponent.image && !@current_opponent.hide_picture%>
              <%= link_to image_tag(@current_opponent.image, :class => 'img-circle face'), '#', 'data-toggle' => 'modal', 'data-target' => '#opponentStatsModal' %>
          <% else %>
              <%= link_to image_tag("default_profile.png", :class => 'img-circle face'), '#', 'data-toggle' => 'modal', 'data-target' => '#opponentStatsModal' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

</br>

<div class="arrow-down"></div>

<div class="row text-center" onClick="startSpin();">
  <canvas class="the_canvas" id="myDrawingCanvas" width="300" height="300" >
    <p class="noCanvasMsg" align="center" >Sorry, your browser doesn't support canvas.<br />Please try another.</p>
  </canvas>
</div>


<div class="row text-center">
  <div class="col-xs-12">
    <img src='<%= image_url('triforce_meter/' + @game.user_meter.to_s + '.png') %>' width="150">
  </div>
  <div class="col-xs-4 buttonBox">
    <%= button_to 'Resign', resign_game_path, data: { confirm: 'Are you sure you want to resign? (Must confirm twice)' }, :class => 'btn btn-info btn-block', :method => :get%>
  </div>
</div>

<% if @game.user_pieces == "1 2 3 4 5 6" %>
    <%= render 'games/win_modal' %>
<% end %>

<% if @game.user_meter == 3 %>
    <%= render 'games/challenge_modal' %>
<% end %>


<script>
    $("#stealChoiceTab").hide();
    var piece_to_bet = "";
    <% @categories.each_with_index do |category, i| %>
        <% if @game.user_pieces.split.include? (i + 1).to_s %>
            document.getElementById('user' + '<%= category.capitalize %>' + 'Image').src = '<%= image_url('icons/'+ category +'.png')%>';
            $('img.user'+ '<%= category.capitalize %>' +'Image').attr("src", '<%= image_url('icons/'+ category +'.png')%>');
            <% if !@game.opponent_pieces.split.include? (i + 1).to_s %>
            $('img.userBet' + '<%= category.capitalize %>' +'Image').attr("src", '<%= image_url('icons/'+ category +'.png')%>');
            $(function () {
                $('img.userBet'+ '<%= category.capitalize %>' +'Image').click(function () {
                    $(this).css('border', "solid 2px red");
                    $("#betChoiceTab").hide();
                    $("#stealChoiceTab").show();
                    piece_to_bet = '<%= category %>';
                });
            });
            <% end %>
        <% else %>
            $('img.user'+ '<%= category.capitalize %>' +'Image').click(function () {
                $.post('/chosen_category', {chosen_category: '<%= category %>' , type: 'challenge'});
            });
        <% end %>
    <% end %>

    <% @categories.each_with_index do |category, i| %>
        <% if @game.opponent_pieces.split.include? (i + 1).to_s %>
        document.getElementById('opponent'+ '<%= category.capitalize %>' +'Image').src = '<%= image_url('icons/'+ category + '.png')%>';
        $('img.opponent'+ '<%= category.capitalize %>' +'Image').attr("src", '<%= image_url('icons/'+ category + '.png')%>');
            <% if !@game.user_pieces.split.include? (i + 1).to_s %>
                $('img.opponentSteal'+ '<%= category.capitalize %>' +'Image').attr("src", '<%= image_url('icons/' + category + '.png')%>');
                $(function () {
                    $('img.opponentSteal'+ '<%= category.capitalize %>' +'Image').click(function () {
                        $.post('/steal_piece_settings', {chosen_category: '<%= category %>', bet_piece: piece_to_bet, type: 'steal'});
                    });
                });
            <% end %>

        $('img.opponent'+ '<%= category.capitalize %>' +'Image').click(function () {
            $.post('/chosen_category', {chosen_category: '<%= category %>'});
        });
        <% end %>
    <% end %>

    wheelImageName = '<%= image_url('question_spinner.png') %>';
    begin();
    powerSelected(1);
</script>

<%= render 'games/opponent_stats_modal' %>