<% if user_signed_in? %>
    <div class="modal fade" id="statsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Statistics and Achievements for <%= current_user.email %></h4>
          </div>
          <div class="modal-body">
            <div role="tabpanel">

              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#statistics" aria-controls="statistics" role="tab" data-toggle="tab">Statistics</a></li>
                <li role="presentation"><a href="#achievements" aria-controls="achievements" role="tab" data-toggle="tab">Achievements</a></li>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="statistics">
                  <table>
                    <tr>
                      <% @categories = ['action', 'adventure', 'arcade', 'fps', 'racing', 'role-playing'] %>
                      <% @categories.each_with_index do |category, i| %>
                          <% if i == 3 %>
                              </tr>
                              <tr>
                          <% end %>
                          <td>
                            <img src='<%= image_url('icons/'+ category + '.png') %>' width="50" height="50">
                            <% if category.eql? 'role-playing' %>
                                <% category = category.split('-').join('_') %>
                            <% end %>
                            <% stat = Statistic.find_by email: current_user.email %>
                            <% if stat.send(category + '_total') == 0 %>
                                -%
                            <% else %>
                                <%= '%.2f' % ((stat.send(category +'_correct').to_f / stat.send(category + '_total').to_f) * 100) %>%
                            <% end %>
                          </td>
                      <% end %>
                      </tr>
                      </table>
                  Wins: <%= Statistic.find_by(email: current_user.email).wins %> ||
                  Losses: <%= Statistic.find_by(email: current_user.email).loses %>
                </div>
                <div role="tabpanel" class="tab-pane" id="achievements">
                  <% current_user.badges.each do |badge| %>
                      <div class="row">
                        <img src='<%= image_url('achievements/' + badge.id.to_s + '.png') %>' width="50px"><%= badge.name %> : <%= badge.description %>
                      </div>
                  <% end %>
                </div>
              </div>

            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
<% end %>