<h2>Profile</h2>

<div class="container round-edges">
    <div class="row">
      <div class="col-md-1">
        <div id="face-wrapper">
            <% if current_user.image && !current_user.hide_picture %>
                <img src='<%= current_user.image %>' class="img-circle face">
            <% else %>
                <img src='<%= image_url('default_profile.png')%>' class="img-circle face">
            <% end %>
        </div>
      </div>
      <div class="col-md-3">
        <% if current_user.hide_email %>
            Opponent
        <% else %>
            <%= current_user.email %>
        <% end %>
        <br/>
        Level: <%= (current_user.level / 10) + 1 %>
        <br/>
        <% if current_user.location %>
            <% if !current_user.hide_location %>
                <%= current_user.location %>
                <br/>
            <% end %>
        <% end %>
        Coins: <%= current_user.coins %>
      </div>

    </div>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

    <% if current_user.provider.nil? %>
        <h3>
          Change Password
        </h3>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, :class => 'string optional form-control' %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "off", :class => 'string optional form-control' %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'string optional form-control' %>
      </div>

      <div class="field">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "off", :class => 'string optional form-control' %>
      </div>

      <div class="actions">
        <%= f.submit "Update", :class => 'btn btn-info btn-lg btn-block' %>
      </div>

    <% end %>
<% end %>

<h3>Privacy Settings</h3>

<% if(current_user.hide_email) %>
    <%= button_to 'Show Email', show_email_path, :class => 'btn btn-success btn-lg btn-block', :method => :get%>
<% else %>
    <%= button_to 'Hide Email', hide_email_path, :class => 'btn btn-danger btn-lg btn-block', :method => :get%>
<% end %>
<br/>
<% if(current_user.hide_picture) %>
    <%= button_to 'Show Profile Picture', show_picture_path, :class => 'btn btn-success btn-lg btn-block', :method => :get%>
<% else %>
    <%= button_to 'Hide Profile Picture', hide_picture_path, :class => 'btn btn-danger btn-lg btn-block', :method => :get%>
<% end %>
<br/>
<% if current_user.location.nil? %>
    <%= simple_form_for current_user, :method => :POST do |f| %>
        <%= f.input :location, :label => 'Add Location' %>
        <%= f.button :submit, 'Update' %>
    <% end %>
<% else %>
    <% if current_user.hide_location %>
        <%= button_to 'Show Location', show_location_path, :class => 'btn btn-success btn-lg btn-block', :method => :get%>
    <% else %>
        <%= button_to 'Hide Location', hide_location_path, :class => 'btn btn-danger btn-lg btn-block', :method => :get%>
    <% end %>
<% end %>
<br/>
<h3>
  Parental Controls
</h3>
<% if current_user.security_question.nil? %>
    <%= simple_form_for current_user, :method => :POST do |f| %>
        <%= f.input :security_question, :label => 'Set security question for enabling/disabling in-app purchases' %>
        <%= f.input :security_answer, :label => 'Security question answer' %>
        <%= f.button :submit, 'Submit' %>
    <% end %>
<% else %>
    <% if current_user.hide_store %>
        <b>
          Security question:
          <%= current_user.security_question %>
        </b>
        <%= simple_form_for current_user, :method => :POST do |f| %>
            <%= f.input :security_answer, :input_html => { :value => ''}, :label => 'Security question answer' %>
            <%= f.button :submit, 'Enable in-app purchases', :class => 'btn btn-success btn-lg btn-block' %>
        <% end %>
    <% else %>
        <%= button_to 'Disable in-app purchases', hide_store_path, :class => 'btn btn-danger btn-lg btn-block', :method => :get%>
    <% end %>
<% end %>
<br/>
<h3>Delete account</h3>

<p><%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure you want to delete your account? (Must confirm twice)" },  :class => 'btn btn-danger btn-lg btn-block', method: :delete %></p>
