<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

    <% if current_user.provider.nil? %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Update" %>
      </div>

    <% end %>
<% end %>

<h3>Privacy Settings</h3>


<% if(current_user.hide_email) %>
    <%= button_to 'Show Email', show_email_path, :class => 'btn btn-default', :method => :get%>
<% else %>
    <%= button_to 'Hide Email', hide_email_path, :class => 'btn btn-default', :method => :get%>
<% end %>
<br/>
<% if(current_user.hide_picture) %>
    <%= button_to 'Show Profile Picture', show_picture_path, :class => 'btn btn-default', :method => :get%>
<% else %>
    <%= button_to 'Hide Profile Picture', hide_picture_path, :class => 'btn btn-default', :method => :get%>
<% end %>

<% if current_user.location.nil? %>
    <%= simple_form_for current_user, :method => :POST do |f| %>
        <%= f.input :location, :label => 'Add Location' %>
        <%= f.button :submit, 'Update' %>
    <% end %>
<% else %>
    <% if current_user.hide_location %>
        <%= button_to 'Show Location', show_location_path, :class => 'btn btn-default', :method => :get%>
    <% else %>
        <%= button_to 'Hide Location', hide_location_path, :class => 'btn btn-default', :method => :get%>
    <% end %>
<% end %>


<h3>Cancel my account </h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
